<h1 class="country-pic text-center">You should go to: the USA!</h1>
  <img class="country-pic" src="assets/images/america.jpeg" alt="USA" width="800" height="800" />

  <br />
      <a href="https://www.tripadvisor.com/Attractions-g191-Activities-United_States.html" target="_blank" style="text-decoration: none" class="link text-center">Click here for things to do!!</a>




      
