<h1 class="country-pic text-center">You should go to: Italy!</h1>
  <img class="country-pic" src="assets/images/italy.jpeg" alt="USA" width="400" height="500" />

    <a href="https://www.planetware.com/italy/top-things-to-do-in-italy-i-1-46.htm" target="_blank" style="text-decoration: none" class="link text-center">Click here for things to do!!</a>